
.wrap{
  width:900px;
  margin:0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}


.sushiContainer{

  position: relative;
  width:900px;
  height:600px;
}

.box{
  position:absolute;
}

#sushi1 {
  top:0px;
  left:0px;
  cursor: pointer;

}

#sushi2 {
  top:0px;
  left:300px;

  cursor: pointer;
}

#sushi3 {
  top:0px;
  left:550px;
  cursor: pointer;
}

#sushi4 {
  top:250px;
  left:0px;
  cursor: pointer;
}
#sushi5 {
  top:250px;
  left:300px;
  cursor: pointer;
}


.grow{
  z-index: 30;
  -webkit-animation: grow 2s;
  animation:grow 2s;
}
@-webkit-keyframes grow{
0%{ -webkit-transform: scale(1);}
75%{-webkit-transform: scale(2.5);}
90%{-webkit-transform:scale(0.6);}
93%{-webkit-transform: scale(1.4);}
95%{-webkit-transform: scale(0.8);}
97%{-webkit-transform: scale(1.2);}
100%{-webkit-transform: scale(1);}

}

.hop{
-webkit-animation: hop 2s ;
animation: hop 2s;

}

@-webkit-keyframes hop {
  0%{-webkit-transform: translateX(0);}
  12%{-webkit-transform: translateY(-100px) rotate(-20deg);}
  25%{-webkit-transform: translateX(-20px);}
  37%{-webkit-transform: translateY(-100px) rotate(20deg);}
  50%{-webkit-transform: translateX(20px);}
  62%{-webkit-transform: translateY(-100px) rotate(-20deg);}
  75%{-webkit-transform: translateX(-20px);}
  87%{-webkit-transform: translateY(-100px) rotate(20deg);}
  100%{-webkit-transform: translateX(0px);}


}

.shake {
  -webkit-animation: shake 1s 2;
}

.shake2 {
  -webkit-animation: shake2 8s 2;
}

@-webkit-keyframes shake {
  0%,
  100 {
    -webkit-transform: translateX(0);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    -webkit-transform: translateY(-20px);
  }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    -webkit-transform: translateY(20px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    -webkit-transform: translateY(-20px);
  }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    -webkit-transform: translateY(20px);
  }
}


@-webkit-keyframes shake2 {
  0%,
  100 {
    -webkit-transform: translateX(0);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    -webkit-transform: translateY(20px);
  }
  10%,
  20%,
  30%,
  40%,
  50% {     -webkit-transform: scale(0.2) }
  60%,
  70%,
  80%,
  90% {
    -webkit-transform: scale(1.5);
  }
}

@keyframes shake2 {
  0%,
  100% {
    transform: translateX(0);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    -webkit-transform: scale(1.5);
  }
  10%,
  20%,
  30%,
  40%,
  50% {     -webkit-transform: scale(0.2) }
  60%,
  70%,
  80%,
  90% {
    -webkit-transform: scale(1.5);
  }
}

